html {
    cursor: grab;
}

.footer {
    font-family: courier;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color:  lightgrey;
    text-align: center;
    padding: 10px 0; /* Lägg till padding för att ge utrymme åt texten */
    font-size: 10px;
}